<h2>Most Recent Song:</h2>
<div class="recent-container">

    <div *ngIf="artistName != ''" class="recent-toggle">
        <a href={{songLink}} target="_blank">
            <div class="link-container">
                <img style="width: 50px; height: 50px" src={{albumPic}} alt="album cover">
                <div class="recent-songartist">
                    <p style="font-size: 1.2em; font-weight: bold;">{{songName}}</p>
                    <p>{{artistName}}</p>
                </div>
            </div>
        </a>
    </div>
    <div *ngIf="artistName == ''" class="recent-toggle">
        <a href="{{prevLink}}" target="_blank">
            <div class="link-container">
                <img style="width: 50px; height: 50px" src={{prevPic}} alt="album cover">
                <div class="recent-songartist">
                    <p style="font-size: 1.2em; font-weight: bold;">{{prevSong}}</p>
                    <p>{{prevArtist}}</p>
                </div>
            </div>
        </a>
    </div>

</div>